@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import "./styles/button.scss";

* {
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  justify-content: center;
  align-items: center;

}

input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;

}

span {
  display: flex;
  color: red;
  font-weight: 500;
  text-align: center;
}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.employee {
  width: 700px;
  height: auto;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.employee h3 {
  margin: 20px;
}

.test{
  margin: 3em auto;
  max-width: 320px;
  background: #FFFFFF;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
}

.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  background: transparent;
}

.errorInput {
  font-size: 15px;
  color: red;
  line-height: 1.2;
  display: block;
  background: transparent;
}

/*---------------------------------[ Alert validate ]*/

.validate-input {
  position: relative;
}

.password-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* ----card---- */
.card{
  margin-top: 5%;
  width: 500px;
  height: 250px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px #000;
}

.upper-container{
  height: 100px;
  background: linear-gradient(to left, #2d00f7, #ff0060, #8e00b9);
}

.image-container{
  background: #FFFFFF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(95px, 45px);
}

img{
  border: 2px solid #8e00b9;
}

.lower-container{
  margin-top: 60px;
  height: 300px;
  background: #FFFFFF;
  text-align: center;
}

.lower-container h3,h4 {
  margin: 0;
  padding: 0;

}

.lower-container h3{
  color: #2f2d2e;
  font-weight: 600;
  font-size: 1.5rem;
}

.lower-container h4{
  color: #8e00b9;
  font-weight: 700;
  font-size: 1.2rem;
}

.lower-container p{
  margin: 1rem;
  margin-top: 0;
  color: #2f2d2e;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: justify;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
