@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import "./styles/button.scss";
@import "./styles/profile.scss";

html, body {
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

/* .App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.App{
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
  text-align: center;
}

.information > form > input{
  width: 50%;
  height: 50px;
  padding: 10px;
  margin: 20px auto 5px auto;
}

/* .dropDownWrapper{
  perspective: 1000px;
}

.dropDown{
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transform: rotate(1, 0, 0, -90deg);
  transform-origin: 0% 0%;
  transition: all 0.35;
}

.dropDown.open{
  visibility: visible;
  opacity: 1;
  transform: rotate3d(0, 0, 0, 0);
} */

.dropDown{
  margin-top: 2rem;
}

/* .login{
  height: 2rem;
  padding: 0 2rem;
  border-radius: 0.375rem;
  background: #4503dc;
  color: #ffffff;
  box-shadow: 0 0.4rem 0 0 #3700b8;
  letter-spacing: 1px;
  transition: all 0.3s;
  margin: 20px auto 5px auto;
}

.login:active{
  transform: translateY(0.3rem);
  box-shadow: 0 0.2rem 0 0 #3700b8;
}

.login:focus{
  outline: none;
} */

/* .information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
} */

/* input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
} */

span {
  display: grid;
  color: red;
  font-weight: 500;
  text-align: center;
}

.test{
  margin: 3em auto;
  width: 800px;
  background: #FFFFFF;
  padding: 40px;
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,.25);
}

.input100 {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  background: transparent;
}

.errorInput {
  font-size: 15px;
  color: red;
  line-height: 1.2;
  display: block;
  background: transparent;
}

/*---------------------------------[ Alert validate ]*/

.validate-input {
  position: relative;
}

.password-icon {
  position: relative;
  top: -2px;
  left: 34rem;
  cursor: pointer;
}

/* ----card---- */
.card{
  margin-top: 5%;
  width: 500px;
  height: 250px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px #000;
}

.upper-container{
  height: 100px;
  background: linear-gradient(to left, #2d00f7, #ff0060, #8e00b9);
}

.image-container{
  background: #FFFFFF;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(95px, 45px);
}

img{
  border: 2px solid #8e00b9;
}

.lower-container{
  margin-top: 60px;
  height: 300px;
  background: #FFFFFF;
  text-align: center;
}

.lower-container h3,h4 {
  margin: 0;
  padding: 0;

}

.lower-container h3{
  color: #2f2d2e;
  font-weight: 600;
  font-size: 1.5rem;
}

.lower-container h4{
  color: #8e00b9;
  font-weight: 700;
  font-size: 1.2rem;
}

.lower-container p{
  margin: 1rem;
  margin-top: 0;
  color: #2f2d2e;
  font-weight: 600;
  font-size: 0.9rem;
  text-align: justify;
}
