

.no-decoration-btn {
    background-color: transparent;
    border: 0px;
    padding: 0;
    margin-right: 5px;
    cursor: pointer;
  
    &.collapse-toggle:focus {
      color: white;
    }
  
    &.no-pointer {
      cursor: default !important;
    }
}

.no-decoration-btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
    color: gray;
}