
.reason {
  color: #DC3545;
  border-style: outset;
  margin: 0 auto 2rem;
  width: 60%;
  position: relative;
  padding: 1rem;
  font-weight: 750;
  line-height: 2rem;
  letter-spacing: 1.5px;
}

section > input {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin: 20px auto 5px auto;
}

section > form > input {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin: 20px auto 20px auto;
  text-align: center;
}

.buttonFancy{
  height: 3.6rem;
  padding: 0 5rem;
  border-radius: 3rem;
  background: linear-gradient(-45deg, #9925ea, #338aff, #9925ea);
  background-size: 400%;
  background-position: 90% 0;
  color: #ffffff;
  transition: background 0.8s;
  margin: 2rem 1.5rem 2rem 1.5rem;
  font-size: 1.2rem;
}

.buttonFancy:hover{
  background-position: 185% 50%;
}

.generateButton{
  position: relative;
  overflow: hidden;
  height: 3.5rem;
  padding: 0.75rem 2rem;
  margin: 1.5rem;
  border-radius: 2rem;
  background: #302650;
  background-size: 400%;
  color: #ffffff;
  
}

.generateButton:hover::before{
  transform: scaleX(1);
}

.button-content{
  position: relative;
  z-index: 1;
}

.generateButton::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(83.2deg, rgba(150, 93, 233, 1) 10.8%, rgba(99, 88, 238, 1) 94.3%);
  transition: all 0.475s;
}

.errorValidation{
  overflow: hidden;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 35%;
  padding: 0 0.5rem;
  /* margin: 0.25rem 0 0 14.5rem; */
  margin: -1rem auto;
  border-radius: 0.25rem;
  background: #fd4444;
  color: #f9f9f9;
  transition: all 0.35s;
}